.button {
    border: none;
    background: var(--bgl-default2);
    text-transform: uppercase;
    color: white;
    border: 1px solid var(--bgl-default);
    border-radius: 4px;
    padding: 16px;
    margin: 0 auto;
}