#home {
    background-color: inherit;
}

.products {
    padding: 10px;
    height: calc(100vh - 173px);
    overflow: auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: auto;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    grid-gap: 10px;
}

.product-info {
    justify-content: space-between;
    width: 100%;
}

.product-data {
    flex-direction: column;
}

.product-data h2, .product-data p {
    margin: 5px 0;
}

.product-data h2 {
    font-size: 32px;
    font-weight: 400;
}

.product-data p {
    font-size: 15px;
}

.product-photo {
    height: 120px;
}
.produtoAdmin{
    display: flex;
    background-color: #ccc;
    padding: 2%;
    margin-left: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.produtoAdmin img{
    width: 100px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0 10px 0px #00000042;
    border-radius: 10px;
}
.produtoAdmin h2{
    font-size: .8em;
}
.dataProducts{
    display: flex;
    flex-direction: column;
    
}
.dataProducts p{
    font-size: .8em;
    margin: 2px;
    text-align: justify;
    border-bottom: 1px solid #ccc;
}
.title{
    font-weight: bold;
}
.btnProdutos{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 576px) {
    #home {
        flex-direction: column;
    }

    #home .products {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) {
    .products {
        grid-template-columns: auto auto;
    }
}
@media (min-width: 1200px) {
    .home {
        width: calc(100vw - 317px);
    }
    .products {
        grid-template-columns: auto auto auto;
    }
}
@media (min-width: 1720px) {
    .products {
        grid-template-columns: auto auto auto auto;
    }
}